# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*imgui.ini
*Debug
*Release
*.vs
*3 Power Stone0525.ilk
*3 Power Stone0525.VC.db
*3 Power Stone0525.vcxproj.user
*3 Power Stone0525.iobj
*3 Power Stone0525.ipdb
*3 Power Stone0525.pdb
*3 Power Stone0525.exe.lastcodeanalysissucceeded
*ImGuiInfo.txt